<div *ngIf="isLoading">
    <app-loader [isLoading]="isLoading"></app-loader>
</div>

<h1 id="h1">All Cars</h1>


<div *ngFor="let problem of problemList" class="all">
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-5">
                <h3 id="h3">{{problem.problemName}}</h3>
                <img [src]="problem.imageUrl" class="all img" alt="">
                <a [routerLink]="['/car/details', problem._id]" id="button">Details</a>
                
            </div>
        </div>
    </div>
</div>