<header>
    <div class="logo-wrap">
        <p class="logo"><span class="logo">Cinema</span></p>
    </div>
    <nav>
        <ul>
            <a class="navitem" routerLink="/">Cinema City</a>
            <a class="navitem" routerLink="/">Home</a>

            <a class="navitem" routerLink="/user/login" *ngIf="!isLogged">Login</a>
            <a class="navitem" routerLink="/user/register" *ngIf="!isLogged">Register</a>

            <a class="navitem" routerLink="/user/profile" *ngIf="isLogged">Profile</a>
            <a class="navitem" (click)="logoutHandler()" *ngIf="isLogged">Logout</a>
            <a class="navitem" routerLink="problem/create" *ngIf="isLogged">Create Problem</a>
            <a class="navitem" routerLink="problem/all" *ngIf="isLogged">All Problems</a>
        </ul>
    </nav>
</header>
<hr>

<!-- {{currentUser.username}} -->