<header>
    <div class="logo-wrap">
        <p class="logo"><span class="logo">Cinema</span></p>
    </div>
    <nav>
        <ul>
            <a class="navitem" routerLink="/home">Cinema City</a>
            <a class="navitem" routerLink="/home">Home</a>
            <a class="navitem" routerLink="/user/login">Login</a>
            <a class="navitem" routerLink="/user/register">Register</a>
            <a class="navitem" (click)="logoutHandler()">Logout</a>
            <a class="navitem" routerLink="problem/create">Create Problem</a>
        </ul>
    </nav>
</header>
<hr>

<!-- {{currentUser.username}} -->