footer {
    background-color: rgb(0, 128, 117);
    color: white;
    text-transform: capitalize;
    text-align: justify;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* max-width: 1366px; */
}

footer p {
    margin: 1em;
    font-size: 1em;
    text-align: center;
}